body {
  background-color: Blue;
}

h1 {
  color: white;
}

.App {
  margin-top: 3rem;
  text-align: center;
}

.item {
  color: Red;
  font-size: 1.9rem;
}


.CheckIcon {
  float: right;
  color: green;
  cursor: pointer;
}
