body {
  background-color: #1A5FFF;
}

h1 {
  color: #FFD300;
}

.App {
  margin-top: 3rem;
  text-align: center;
}

.item {
  color: #002C91;
  font-size: 1.7rem;
}


.CheckIcon {
  float: right;
  color: green;
  cursor: pointer;
}
